# Para instalar todas as dependências (produção e desenvolvimento), execute:
# pip install -r requirements-dev.txt

# Inclui as dependências de produção
-r requirements.txt

# --- Development & Code Quality ---
notebook==7.1.3  # Para o ambiente Jupyter Notebook
black==24.4.2    # Formatador de código "uncompromising"
flake8==7.0.0    # Linter para checagem de estilo e erros
isort==5.13.2     # Ferramenta para organizar os imports