# Para instalar todas as dependências (produção e desenvolvimento), execute:
# pip install -r requirements.txt

# Inclui as dependências de produção
-r requirements.txt

# --- Development & Code Quality ---
notebook==7.1.3  # Para o ambiente Jupyter Notebook
black==24.4.2    # Formatador de código "uncompromising"
flake8==7.0.0    # Linter para checagem de estilo e erros
isort==5.13.2     # Ferramenta para organizar os imports

# --- Core Libraries for Data Analysis ---
pandas==2.2.2
numpy==1.26.4

# --- Data Visualization ---
matplotlib==3.8.4
seaborn==0.13.2

# --- Machine Learning ---
scikit-learn==1.4.2
